{% load staticfiles %}

<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static "bootstrap/dist/css/bootstrap.css" %}">
<center><h1> Uma's Postal Service</h1>
<h3>The Best Way To Track Your Package</h3></center>
</head>
<body style="background-color:#F4F2D0" ng-app="{% block ng_app %}PostOffice.static{% endblock %}">
<div class="content" ng-controller="{% block ng_controller %}AppController{% endblock %}">{% block content %}
{% verbatim %}
    <div class="panel" ng-repeat="address in addresses">
        <div class="panel-heading clearfix">
            <h3 class="panel-title">{{ address.streetline1 }}</h3>
            <author class="pull-right">{{ address.streetline3 }}</author>
        </div>
        <p class="well">{{ address.streetline2 }}</p>
    </div>
{% endverbatim %}
{% endblock %}</div>
<script src="{% static "underscore/underscore.js" %}"></script>
<script src="{% static "angular/angular.js" %}"></script>
<script src="{% static "angular-resource/angular-resource.js" %}"></script>
<script src="{% static "js/script.js" %}"></script>
</body>
</html>

