
{% load url from future %}

<h2>Addresses</h2>

<form action="{% url 'address-list' %}" method="post">
  <input type="text" name="street_line1" />
  <input type="text" name="street_line2" />
  <input type="text" name="street_line3" />
  <input type="text" name="street_line4" />
  <input type="text" name="city" />
  <input type="text" name="state" />
  <input type="text" name="country" />
  <input type="text" name="zipcode" />
  <input type="submit" value="Add_Address" />
</form>

 <ul>
    {% for address in addresses %}
        <li>
            <a href="{% url 'address-instance' address.address_id %}">{{address.street_line1}} {{address.street_line2}} {{address.street_line3}} {{address.street_line4}} {{address.city}} {{address.state}} {{address.country}} {{address.zipcode}}</a>
        </li>
    {% endfor %}
</ul> 


<h2>Shipments<h2>

<form action="{% url 'shipments-list' %}" method="post">
  <input type="text" name="tracking_number" />
  <input type="text" name="customer_id" />
  <input type="text" name="time_shipped" />
  <input type="text" name="reciever_address" />
  <input type="text" name="receiver_name" />
  <input type="text" name="post_office_shipped_from" />
  <input type="text" name="date_ship" />
  <input type="text" name="est_arrival" />
  <input type="text" name="last_post_office" />
  <input type="text" name="order_status" />
  <input type="text" name="delivery_status" />
  <input type="text" name="package_type" />
  <input type="text" name="package_weight" />
  <input type="text" name="package_rate" />
  <input type="text" name="signature_required" />
  <input type="text" name="signature_confirmed" />

  <input type="submit" value="Add_Shipment" />
</form>


 <ul>
    {% for shipment in shipments %}
        <li>
            <a href="{% url 'shipments-instance' shipment.shipment_id %}">{{shipment.tracking_number}} {{address.customer_id}} {{address.time_shipped}} {{address.reciever_address}} {{address.receiver_name}}</a>
        </li>
    {% endfor %}
</ul> 

{% load staticfiles %}

<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static "bootstrap/dist/css/bootstrap.css" %}">
</head>
<body ng-app="{% block ng_app %}PostOffice.static{% endblock %}">
<div class="content" ng-controller="{% block ng_controller %}AppController{% endblock %}">{% block content %}
{% verbatim %}
    <div class="panel" ng-repeat="address in addresses">
        <div class="panel-heading clearfix">
            <h3 class="panel-title">{{ address.streetline1 }}</h3>
            <author class="pull-right">{{ address.streetline3 }}</author>
        </div>
        <p class="well">{{ address.streetline2 }}</p>
    </div>
{% endverbatim %}
{% endblock %}</div>
<script src="{% static "underscore/underscore.js" %}"></script>
<script src="{% static "angular/angular.js" %}"></script>
<script src="{% static "angular-resource/angular-resource.js" %}"></script>
<script src="{% static "js/script.js" %}"></script>
</body>
</html>

