<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">


<head>  
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> 
<style type="text/css">
    .bs-example{
    	margin: 20px;
    }
</style>
</head>
<body>
<form>
        <div class="row">
            <div class="col-md-8">
                
           
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user">			</span></span>
            <label class="col-md-8 control-label">FIRST NAME</label>
            <input type="text" class="form-control" placeholder="FIRST NAME">
        <br>
            <label class="col-md-8 control-label">LAST NAME</label>
            <input type="text" class="form-control" placeholder="LAST NAME">
        </div>
        <br>
        
        <label class="col-lg-4 control-label">PHONE NUMBER</label>
            <input type="int" class="form-control" placeholder="PHONE NUMBER">
        <br>
        <label class="col-md-8 control-label">EMAIL</label>
            <input type="text" class="form-control" placeholder="EMAIL ADDRESS">
        <br>
        	<label class="col-md-8 control-label">ADDRESS 1</label>
            <input type="text" class="form-control" placeholder="ADDRESS 1">
        <br>
        <label class="col-md-8 control-label">ADDRESS 2</label>
            <input type="text" class="form-control" placeholder="ADDRESS 2">
            
        <br>
    	<label class="control-label">STATE</label>
        <select name="state" class="form-control">
            <option value="00">AL</option>
            <option value="01">AK</option>
            <option value="02">AZ</option>
            <option value="03">AR</option>
            <option value="04">CA</option>
            <option value="05">CO</option>
            <option value="06">CT</option>
            <option value="07">DE</option>
            <option value="08">DC</option>
            <option value="09">FL</option>
            <option value="10">GA</option>
            <option value="11">HI</option>
            <option value="12">ID</option>
            <option value="13">IL</option>
            <option value="14">IN</option>
            <option value="15">IA</option>
            <option value="16">KS</option>
            <option value="17">KY</option>
            <option value="18">LA</option>
            <option value="19">ME</option>
            <option value="20">MD</option>
            <option value="21">MA</option>
            <option value="21">MI</option>
            <option value="22">MN</option>
            <option value="23">MS</option>
            <option value="24">MO</option>
            <option value="25">MT</option>
            <option value="26">NE</option>
            <option value="27">NV</option>
            <option value="28">NH</option>
            <option value="29">NJ</option>
            <option value="30">NM</option>
            <option value="31">NY</option>
            <option value="32">NC</option>
            <option value="33">ND</option>
            <option value="34">OH</option>
            <option value="35">OK</option>
            <option value="36">OR</option>
            <option value="37">PA</option>
            <option value="38">RI</option>
            <option value="39">SC</option>
            <option value="40">SD</option>
            <option value="41">TN</option>
            <option value="42">TX</option>
            <option value="43">UT</option>
            <option value="44">VT</option>
            <option value="45">VA</option>
            <option value="46">WA</option>
            <option value="47">WV</option>
            <option value="48">WI</option>
            <option value="49">WY</option>
        </select>
		<br>
            <label class="col-sm-2 control-label">CITY</label>
            <input type="text" class="col-md-2 form-control" placeholder="CITY">
        <br>
		<label class="col-sm-2 control-label">ZIPCODE</label>
            <input type="int" class="form-control" placeholder="ZIPCODE">
        <br>
               
        <a href="#" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-user"></span> CREATE</a>
	 </div>
        </div>
    </form> 

</body>
</html>                                		