{% extends 'base.html' %}

{% block ng_app %}PostOffice.app.incomingshipments{% endblock %}

{% block content %}
{% verbatim %}
    <div class="panel" ng-repeat="incoming_shipments in incoming_shipment">
        <div class="panel-heading clearfix">
            <h3 class="panel-title">{{ incoming_shipments.route_id }} {{incoming_shipments.post_office_shipping_from}} {{incoming_shipments.post_office_shippin_to}} {{incoming_shipments.route_type}} </h3>
	</div>
    </div>
   
{% endverbatim %}
{% endblock %}