{% load staticfiles %}

<html>
<body ng-app="PostOffice.app.resource">
<ol>
    <li><a href="{% url "PostOffice" template_name='Addresses' %}">Addresses</a></li>
    <li><a href="{% url "PostOffice" template_name='Shipments' %}">Shipments</a></li>
    <li><a href="{% url "PostOffice" template_name='Customers' %}">Customers</a></li>
    <li><a href="{% url "PostOffice" template_name='Incoming_Shipments' %}">Incoming_Shipments</a></li>
    <li><a href="{% url "PostOffice" template_name='Drivers' %}">Drivers</a></li>
    <li><a href="{% url "PostOffice" template_name='Delivery Routes' %}">Delivery Routes</a></li>
</ol>
</body>
</html>