{% load staticfiles %}

<html>
<body ng-app="PostOffice.app.resource">
<ol>
    <li><a href="{% url "PostOffice" template_name='addresses' %}">Addresses</a></li>
    <li><a href="{% url "PostOffice" template_name='shipments' %}">Shipments</a></li>
    <li><a href="{% url "PostOffice" template_name='customers' %}">Customers</a></li>
    <li><a href="{% url "PostOffice" template_name='incoming_Shipments' %}">Incoming_Shipments</a></li>
    <li><a href="{% url "PostOffice" template_name='driver' %}">Drivers</a></li>
    <li><a href="{% url "PostOffice" template_name='delivery_Routes' %}">Delivery Routes</a></li>
</ol>
</body>
</html>