<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DB Postal Service</title>
    <base href="/" />
    <!-- Bootstrap Core CSS -->
    <link href="{% static "bootstrap/dist/css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "bootstrap/dist/css/simple-sidebar.css" %}" rel="stylesheet">

    <style>
        body {
            padding-top: 70px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->





    </head>


    <body ng-app="postOfficeApp">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="MasterCtrl">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-form navbar-right">
                    <input ng-show="authenticated" ng-click="logout()" ng-controller="MainCtrl" class="btn btn-default" value="logout">
                </div>
                <div id="login_view" ng-hide="authenticated" ng-controller="LoginCtrl">
                    <form role="form" class="navbar-form navbar-right" ng-submit="login(loginForm)" name="loginForm" novalidate>
                        <div class="form-group">
                            <input name="username" id="id_username" type="text" ng-model="model.username" placeholder="Username" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <input name="password" id="id_password" type="password" ng-model="model.password" placeholder="Password" class="form-control" required />
                        </div>
                        <div class="btn-group">
                            <input type="submit" class="btn btn-default" value="login">
                            <input type="submit" class="btn btn-default" value="register" ui-sref="register">
                        </div>
                    </form>
                </div>
                <div class="navbar-header" ng-show="authenticated">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Home</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" ng-show="authenticated">
                        <li><a ui-sref="managedrivers">Drivers</a></li>
                        <li><a ui-sref="managebranch">Branch</a></li>
                        <li><a ui-sref="manageshipments">Shipments</a></li>
                        <li><a ui-sref="managecustomers">Customers</a></li>
                        <li><a ui-sref="manageaddresses">Addresses</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!--
        <div class="navbar navbar-fixed-bottom" ng-controller="MasterCtrl">
            <div class="navbar-form navbar-right">
                <button ng-show="authenticated" ng-click="logout()" ng-controller="MainCtrl" class="btn btn-default">Logout</button>
            </div>
            <div id="login_view" ng-hide="authenticated" ng-controller="LoginCtrl">
                <form role="form" class="navbar-form navbar-right" ng-submit="login(loginForm)" name="loginForm" novalidate>
                    <div class="form-group">
                        <input name="username" id="id_username" type="text" ng-model="model.username" placeholder="Username" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <input name="password" id="id_password" type="password" ng-model="model.password" placeholder="Password" class="form-control" required />
                    </div>
                    <div class="btn-group">
                        <input type="submit" class="btn btn-default" value="login">
                        <input type="submit" class="btn btn-default" value="register"
                        ng-click="register()">
                    </div>
                </form>
            </div>
        </div>
        -->

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="panel-body">
                        <div ui-view></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->



        <!-- /#wrapper -->



        <!-- jQuery -->
        <script src="{% static "jquery/dist/jquery.js" %}"></script>
        <script src="{% static "angular/angular.js" %}"></script>
        <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
        <script src="{% static "underscore/underscore.js" %}"></script>
        <script src="{% static "angular-resource/angular-resource.js" %}"></script>
        <script src="{% static "angular-cookies/angular-cookies.js" %}"></script>
        <script src="{% static "angular-sanitize/angular-sanitize.js" %}"></script>
        <script src="{% static "angular-route/angular-route.js" %}"></script>
        <script src="{% static "angular-ui-router/release/angular-ui-router.js" %}"></script>
        <script src="{% static "ng-table/dist/ng-table.js" %}"></script>
        <script src="{% static "ng-table-export/ng-table-export.js" %}"></script>
        <script src="{% static "js/script.js" %}"></script>
        <!-- Menu Toggle Script -->
        <script>
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>
        <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-XXXXX-X');
         ga('send', 'pageview');
     </script>



 </body>

 </html>
