<!DOCTYPE html>
<html lang="en">


<head>  
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> 
<style type="text/css">
    .bs-example{
    	margin: 20px;
    }
</style>
</head>
<body>

<div class="row">
    <div class="col-lg-4">
        <center><h1>LOOK UP CUSTOMERS</h1>
            <p>Search for an existing customer by their phone number.</p>
            <div class="input-group">
               <input type="text" class="form-control" placeholder="Phone Number">
               <span class="input-group-btn">
                 <button class="btn btn-default" type="button">Search</button>
             </span>
             
         </div>
         <br>
         <h4>Or</h4>
         <a href="create_customer.html" class="btn btn-default" id="menu-toggle">Create a New Customer</a>
     </center></div>
 </div>  
 
 
 
 