<div class="row">
    <div class="col-lg-4">
        <center><h1>Create a Shipment</h1>
            <p>Search for an existing customer by their phone number.</p>
            <div class="input-group">
               <input type="text" class="form-control" placeholder="Phone Number">
               <span class="input-group-btn">
                 <button class="btn btn-default" type="button">Search</button>
             </span>
             
         </div>
         <br>
         <h4>Or</h4>
         <a href="create_customer.html" class="btn btn-default" id="menu-toggle">Create a New Customer</a>
     </center></div>
 </div>  
 
 
 
 