
<div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="static/images/django-logo-negative.png">
                </a>
                <h3>
                    <a href="#">Django</a>
                </h3>
                <p>Django is a powerful server-side web framework written in Python. It takes advantage of the model view controller system to quickly create fast, responsive webapps.</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="static/images/rsz_angular.png" >
                </a>
                <h3>
                    <a href="#">Angular-JS</a>
                </h3>
                <p>A robust clientside web framework that uses the MVC to delivery internet rich applications. </p>
            </div>
        </div>

<div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="static/images/rest.png" alt="">
                </a>
                <h3>
                    <a href="#">Django Rest Framework</a>
                </h3>
                <p>An open source utility built ontop of django that allows the user to quickly create a consumable web based API</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="static/images/sqlite-logo.png" alt="">
                </a>
                <h3>
                    <a href="#">SQLite</a>
                </h3>
                <p>Database management system that requires no installation and is able to understand and deliver based on sql commands</p>
            </div>
        </div>