<h1>The Developer Team</h1><br>
<div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img src="static/images/shiroe.jpg ">
                </a>
                <h3>
                    <a href="mailto:yassirj1@gmail.com">Yassir Jamal</a>
                </h3>
                <p>Guild Leader and Database Mage.</p>
            </div>
        </div>

<br>        
        
<div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img src="static/images/akatsuki.jpg ">
                </a>
                <h3>
                    <a href="mailto:sarah90@hotmail.com">Sarah Moore</a>
                </h3>
                <p>Database Ninja.</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img src="static/images/tetora.jpg" >
                </a>
                <h3>
                    <a href="mailto:trucle2@yahoo.com">Truc Le</a>
                </h3>
                <p>Database Cleric. </p>
            </div>
        </div>

<div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img src="static/images/naotsugu.jpg" alt="">
                </a>
                <h3>
                    <a href="mailto:rahimjiwani1@gmail.com">Rahim Jiwani</a>
                </h3>
                <p>Database Warrior. </p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img src="static/images/nyanta.jpg" alt="">
                </a>
                <h3>
                    <a href="mailto:henry.h1122@gmail.com">Henry Hwang</a>
                </h3>
                <p>Database Swashbuckler. </p>
            </div>
        </div>    
<br>
<iframe width="560" height="315" src="http://www.youtube.com/embed/eW6sEkTGbUc" frameborder="0" allowfullscreen></iframe>