
<table class="noborder">
    <tr>
        <td rowspan="2">ID: {{p.customer_id}}<input type="hidden" name="customer_id" value="{{p.customer_id}}"></td>
        <td>Firstname:</td>
        <td><input type="text" name="first_name" class="w100" value="{{p.first_name}}"></td>
        <td>Email:</td>
        <td><input type="text" name="customer_email" class="w180" value="{{p.customer_email}}"></td>
        <td><input type="button" value=" save " onclick="alert('Save :)')"></td>
    </tr>
    <tr>
        <td>Lastname:</td>
        <td><input type="text" name="last_name" class="w100" value="{{p.last_name}}"></td>
        <td>Phone: </td>
        <td><input type="text" name="phone_number" class="w120" value="{{p.phone_number}}"></td>
        <td><input type="button" value=" cancel" ng-click="setEditId(-1)"></td>
    </tr>
</table>