<form>
	<div class="row">
		<div class="col-md-8">
			<h4>NEW DRIVER INFORMATION</h4>     
			<hr>   
			
			<div class="input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-user">			</span></span>
				<label class="col-md-8 control-label">FULL NAME</label>
				<input type="text" class="form-control" placeholder="FULL NAME">
				<br>
			</div>
			<br>
			<label class="col-lg-4 control-label">PHONE NUMBER</label>
			<input type="int" class="form-control" placeholder="PHONE NUMBER">
			<br>
			<label class="col-md-8 control-label">SSN</label>
			<input type="text" class="form-control" placeholder="SOCIAL SECURITY NUMBER">
			<br>
			<label class="control-label">DRUG TEST CLEARED</label>
			<select name="state" class="form-control">
				<option value="TRUE">YES</option>
				<option value="FALSE">NO</option>
				
			</select>
			<br>
			
			<a href="#" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-user"></span> CREATE</a>
		</div>
	</div>
</form> 