<table ng-table="tableParams" class="table">
    <tbody ng-repeat="customer in $data">
        <tr id="tr{{customer.customer_id}}" ng-class-odd="'odd'" ng-class-even="'even'">
            <td class="rowTd" data-title="'ID'"          sortable="'customer_id'">{{customer.customer_id}}</td>
            <td class="rowTd" data-title="'Firstname'"   sortable="'first_name'">{{customer.first_name}}</td>
            <td class="rowTd" data-title="'Lastname'"    sortable="'last_name'">{{customer.last_name}}</td>
            <td class="rowTd" data-title="'Email'"       sortable="'customer_email'">{{customer.customer_email}}</td>
            <td class="rowTd" data-title="'Phone'"       sortable="'phone_number'">{{customer.phone_number}}</td>
            <td class="rowTd" ><input type=button id="editRowBtn{{customer.customer_id}}" value="edit"
              ng-click="setEditId(customer.customer_id)"></td>
          </tr>
          <tr ng-show="editId==customer.customer_id" ng-if="editId==customer.customer_id">
            <td colspan="7" ng-include src="'static/views/editRow.html'"></td>
        </tr>
    </tbody>
</table>