<form>
	<div class="row">
		<div class="col-md-8">
			<h4>NEW DRIVER INFORMATION</h4>     
			<hr>   
			
			<div class="input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-user">			</span></span>
				<label class="col-md-8 control-label">NAME</label>
				<input type="text" class="form-control" placeholder="NAME">
				<br>
			</div>
			<br>
			<label class="col-lg-4 control-label">PHONE NUMBER</label>
			<input type="int" class="form-control" placeholder="PHONE NUMBER">
			<br>
			<label class="col-md-8 control-label">SSN</label>
			<input type="text" class="form-control" placeholder="SOCIAL SECURITY NUMBER">
			<br>
			<label class="control-label">DRUG TEST CLEARED</label>
			<select name="state" class="form-control">
				<option value="TRUE">YES</option>
				<option value="FALSE">NO</option>
				
			</select>
			<br>
			
			<a href="#" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-user"></span> CREATE</a>
		</div>
	</div>
	<br>
</form> 
<form role="form" ng-submit="sendData(putForm)" name="putForm"></form>

<table ng-table="tableParams" class="table">
    <tbody ng-repeat="driver in $data">
        <tr id="tr{{driver.driver_id}}" ng-class-odd="'odd'" ng-class-even="'even'">
            <td class="rowTd" data-title="'ID'" sortable="'driver_id'">
                <span ng-if="!driver.$edit">{{driver.driver_id}}</span>
                <div ng-if="driver.$edit"><input form="putForm" class="form-control" type="text" ng-model="driver.driver_id" readonly></div>
            </td>
           <td class="rowTd" data-title="'SSN'" sortable="'driver_ssn'">
                <span ng-if="!driver.$edit">{{driver.driver_ssn}}</span>
                <div ng-if="driver.$edit"><input form="putForm" class="form-control" type="text" ng-model="driver.driver_ssn" readonly></div>
            </td>
            <td class="rowTd" data-title="'Name'" filter="{ 'river_name': 'text' }" sortable="'driver_name'">
                <span ng-if="!driver.$edit">{{driver.driver_name}}</span>
                <div ng-if="driver.$edit"><input form="putForm" class="form-control" type="text" ng-model="driver.driver_name" /></div>
            </td>
            <td class="rowTd" data-title="'Phone'"  filter="{ 'driver_phone_number': 'text' }" sortable="'driver_phone_number'">
                <span ng-if="!driver.$edit">{{driver.phone_number}}</span>
            <div ng-if="driver.$edit"><input form="putForm" class="form-control" type="text" ng-model="driver.driver_phone_number" /></div>
            </td>
            <td class="rowTd" data-title="'Drug test Passed'" filter="{ 'drug_test_passed': 'text' }" sortable="'drug_test_passed'">
                <span ng-if="!driver.$edit">{{driver.drug_test_passed}}</span>
            <div ng-if="driver.$edit"><input form="putForm" class="form-control" type="text" ng-model="driver.drug_test_passed" /></div>
            </td>
            <td class="rowTd" data-title="'Actions'">
                <a ng-if="!driver.$edit" href="" class="btn btn-default btn-xs" ng-click="driver.$edit = true">Edit</a>
                <a type="submit" ng-if="driver.$edit" href="" class="btn btn-primary btn-xs" ng-click="driver.$edit = false; sendData(putForm)">Save</a>
            </td>
          </tr>
          
    </tbody>
    </table>