<div class="container">
<form class="form-inline" role="form" ng-submit="postData(driver)">
    <div class="form-group">
      <label for="DriverName">Name:</label>
      <input ng-model="driver.driver_name" type="text" class="form-control" id="DriverName" placeholder="Enter Driver Name">
    </div>
    <div class="form-group">
      <label for="DriverSSN">Driver SSN:</label>
      <input ng-model="driver.driver_ssn" type="text" class="form-control" id="DriverSSN" placeholder="Enter Driver SSN">
    </div>
    <div class="form-group">
      <label for="PhoneNumber">Phone Number:</label>
      <input ng-model="driver.driver_phone_number" type="text" class="form-control" id="PhoneNumber" placeholder="Enter Phone Number">
    </div>
    <div class="form-group">
      <label for="DrugTestPassed">Drug Test Passed:</label>
      <select name="state" ng-model="driver.drug_test_passed" class="form-control">
            <option value="true">YES</option>
            <option value="false">NO</option>
        </select>
    </div>
    <input type="submit" class="btn btn-default" ng-click"postData(driver)">
  </form>
  </div>
  <br/>
<table ng-table="tableParams" show-filter="true" class="table">
    <tbody ng-repeat="driver in $data">
        <tr id="tr{{driver.driver_id}}" ng-class-odd="'odd'" ng-class-even="'even'">
            <td class="rowTd" data-title="'ID'" sortable="'driver_id'">
                <span ng-if="!driver.$edit">{{driver.driver_id}}</span>
                <div ng-if="driver.$edit"><input form="putForm" class="form-control" type="text" ng-model="driver.driver_id" value="{{driver.driver_id}}" readonly></div>
            </td>
           <td class="rowTd" data-title="'SSN'"  filter="{ 'driver_ssn': 'text' }" sortable="'driver_ssn'">
                <span ng-if="!driver.$edit">{{driver.driver_ssn}}</span>
                <div ng-if="driver.$edit"><input form="putForm" class="form-control" type="text" ng-model="driver.driver_ssn" value="{{driver.driver_ssn}}"readonly></div>
            </td>
            <td class="rowTd" data-title="'Name'" filter="{ 'driver_name': 'text' }" sortable="'driver_name'">
                <span ng-if="!driver.$edit">{{driver.driver_name}}</span>
                <div ng-if="driver.$edit"><input form="putForm" class="form-control" type="text" ng-model="driver.driver_name" value="{{driver.driver_name}}" /></div>
            </td>
            <td class="rowTd" data-title="'Phone'"  filter="{ 'driver_phone_number': 'text' }" sortable="'driver_phone_number'">
                <span ng-if="!driver.$edit">{{driver.driver_phone_number}}</span>
            <div ng-if="driver.$edit"><input form="putForm" class="form-control" type="text" ng-model="driver.driver_phone_number" value="{{driver.driver_phone_number}}"/></div> 
            </td>
            <td class="rowTd" data-title="'Drug test Passed'" filter="{ 'drug_test_passed': 'text' }" sortable="'drug_test_passed'">
                <span ng-if="!driver.$edit">{{driver.drug_test_passed}}</span>
            <div ng-if="driver.$edit"><input form="putForm" class="form-control" type="text" ng-model="driver.drug_test_passed" value="{{driver.driver_drug_passed}}" /></div>
            </td>
            <td class="rowTd" data-title="'Actions'">
                <a ng-if="!driver.$edit" href="" class="btn btn-default btn-xs" ng-click="driver.$edit = true">Edit</a>
                <a type="submit" ng-if="driver.$edit" href="" class="btn btn-primary btn-xs" ng-click="driver.$edit = false; sendData(driver)">Save</a>
            </td>
          </tr>
          
    </tbody>
    </table>