<div class="container">
<h3 align="left">Create Inter-office Shipments</h3>
  <form class="form-inline" role="form" ng-submit="postData(shipment)">
    <div class="form-group">
      <label for="poFrom">From:</label>
      <select id="poFrom" ng-model="shipment.post_office_shipping_from" class="form-control">
            <option value="77025">Houston</option>
            <option value="75032">Dallas</option>
            <option value="78721">Austin</option>
            <option value="78205">San Antonio</option>
            <option value="79922">El Paso</option>
        </select>
    </div>
    <div class="form-group">
      <label for="poTo">To:</label>
      <select id="poTo" ng-model="shipment.post_office_shipping_to" class="form-control">
            <option value="77025">Houston</option>
            <option value="75032">Dallas</option>
            <option value="78721">Austin</option>
            <option value="78205">San Antonio</option>
            <option value="79922">El Paso</option>
        </select>
    </div>
    <div class="form-group">
      <label for="poType">Route Type:</label>
      <select id="poType" ng-model="shipment.route_type" class="form-control">
            <option value="1">Ground</option>
            <option value="2">Air</option>
            <option value="3">Sea</option>
        </select>
    </div>
    <input type="submit" class="btn btn-default" ng-click"postData(shipment)">
  </form>
  </div>



<table ng-table="tableParams" show-filter="true" class="table">
    <tbody ng-repeat="incoming_shipment in $data">
        <tr id="tr{{incoming_shipment.route_id}}" ng-class-odd="'odd'" ng-class-even="'even'">
            <td class="rowTd" data-title="'ID'" sortable="'route_id'">
                <span ng-if="!incoming_shipment.$edit">{{incoming_shipment.route_id}}</span>
                <div ng-if="incoming_shipment.$edit"><input form="putForm" class="form-control" type="text" ng-model="incoming_shipment.route_id" value="{{incoming_shipment.route_id}}" readonly></div>
            </td>
            <td class="rowTd" data-title="'Origin'" filter="{ 'post_office_shipping_from': 'text' }" sortable="'post_office_shipping_from'">
                <span ng-if="!incoming_shipment.$edit">{{incoming_shipment.post_office_shipping_from}}</span>
                <div ng-if="incoming_shipment.$edit"><input form="putForm" class="form-control" type="text" ng-model="incoming_shipment.post_office_shipping_from" value="{{incoming_shipment.post_office_shipping_from}}" /></div>
            </td>
            <td class="rowTd" data-title="'Destination'" filter="{ 'post_office_shipping_to': 'text' }" sortable="'post_office_shipping_to'">
                 <span ng-if="!incoming_shipment.$edit">{{incoming_shipment.post_office_shipping_to}}</span>
                 <div ng-if="incoming_shipment.$edit"><input form="putForm" class="form-control" type="text" ng-model="incoming_shipment.post_office_shipping_to" value="{{incoming_shipment.post_office_shipping_to}}" /></div>
            </td>
            <td class="rowTd" data-title="'Type'" filter="{ 'route_type': 'text' }" sortable="'route_type'">
                <span ng-if="!incoming_shipment.$edit">{{incoming_shipment.route_type}}</span>
            <div ng-if="incoming_shipment.$edit"><input form="putForm" class="form-control" type="text" ng-model="incoming_shipment.route_type" value="{{incoming_shipment.route_type}}" /></div>
            </td>
          </tr>
          
    </tbody>
    </table>